@media (max-width: 1900px) {
    .header-bg {
        width: 100%;
    }
}


@media (max-width: 1900px) {
    .header-wrapper {
        display: flex;
        justify-content: left;
        width: 200px;
    }
    .nav-flex {
        width: 1200px;
    }
}



@media (max-width: 1900px) {
    .boxes {
        width: 100%;
    }
}


@media (max-width: 1900px) {
    .about {
        width: 100%;
    }
}


@media (max-width: 1900px) {
    .contact-boxes {
        width: 100%;
    }
}

@media (max-width: 1900px) {
    .h2 {
        width: 100%;
    }
}

@media (max-width: 1900px) {
    .contact-info {
        width: 100%;
    }
}


/*   1450 */

@media (max-width: 1450px) {
    .section-1 {
        width: 100%;
    }
}

@media (max-width: 1450px) {
    .section-2 {
        width: 100%;
    }
}

@media (max-width: 1450px) {
    .section-3 {
        width: 100%;
    }
    .cafe {
        width: 600px;
    }
    .main-text {
        width: 600px;
    }
    .story {
        width: 600px;
    }
}


/* 1250 */

@media (max-width: 1250px) {
    .section-1 {
        width: 100%;
    }
    .box1 {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 1450px) {
    .main-text {
        width: 450px;
    }
}

@media (max-width: 1450px) {
    .our-story {
        width: 150px;
        margin-left: 50px;
    }
}


/* 1100 */
@media (max-width: 1100px) {
    .section-1 {
        width: 100%;
    }
    .box1 {
        width: 270px;
        height: 270px;
    }
}

@media (max-width: 1100px) {
    .cafe {
        width: 400px;
    }
}

@media (max-width: 1100px) {
    .Address {
        width: 500px;
    }
    .map {
        width: 400px;
    }
}


/* 870 */

@media (max-width: 870px) {
    .header-bg {
        height: 400px;
        width: 100%;
    }
    .navigation {
        display: none;
    }
    .burger-icon {
        display: flex;
        color:  #c9c6aa;
    }
    .nav-flex {
        width: 1550px;
        
    }

    .h1 {
        font-size: 30px;
    }

}

@media (max-width: 870px) {
    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    .box1 {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 870px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .story {
        margin-left: 100px;
    }
    

}


@media (max-width: 870px) {
    .contact-info {
        width: 500px;
    }
}

@media (max-width: 870px) {
    .contact-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .feedback-box {
        width: 500px;
        margin-top: 20px;
        margin-left: 30px;
    }
}


/* 720 */

@media (max-width: 720px) {
    .header-bg {
        height: 350px;
        width: 100%;
    }
}


@media (max-width: 720px) {
    .section-1 {
        width: 100%;
        height: 900px;
    }
}

@media (max-width: 720px) {
    .section-2 {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .section-3 {
        width: 100%;
    }

    .h2 {
        width: 400px;
    }
    .specials {
        font-size: 15px;
    }
    .specials::after{
        width: 75px;
    }
}

@media (max-width: 720px) {
    .box1 {
        width: 200px;
        height: 150px;
    }

    .boxes {
        width: 400px;
        height: 650px;
    }
    .pasta {
        font-size: 15px;
    }
}

@media (max-width: 720px) {

    .about {
        width: 400px;
        height: 500px;
    }

    .cafe {
        width: 200px;
        height: 200px;
        padding-bottom: 10px;
    }

    .our-story {
        font-size: 15px;
    }
    .our-story::after{
        width: 75px;
    }

    .main-text {
        width: 150px;
        height: 100px;
        font-size: 10px;
        
    }
    .story {
        width: 400px;
        height: 650px;
    }
}



@media (max-width: 720px) {
    .contact {
        font-size: 15px;
    }
    .contact::after{
        width: 75px;
    }

}


@media (max-width: 720px) {

    .contact-info{
        width: 150px;
    }
}

@media (max-width: 720px) {

    .information{
        font-size: 15px;
    }
    .phone-number {
        font-size: 10px;
    }
    .contact-p {
        font-size: 10px;
    }
    .map {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 720px) {

    .feedback-box{
        width: 400px;
        height: 380px;
    }
}



@media (max-width: 720px) {
    .feedback-info {
        font-size: 15px;
        width: 150px;
    }
    .feedback-info::after{
        width: 110px;
    }
    .fields {
        width: 100px;
        height: 300px;
    }

    .name {
        width: 70px;
        height: 30px;
    }

    .email {
        width: 70px;
        height: 30px;
    }
    .message {
        width: 100px;
        height: 40px;

    }
    #send {
        width: 35px;
        height: 30px;
    }

}


/* 520 */


@media (max-width: 520px) {
    .section-3 {
      display: none;
    }
}


@media (max-width: 520px) {
    .section-1 {
      width: 200px;
    }
    .h2 {
        width: 200px;
    }
    .boxes {
        width: 200px;
    }
}


@media (max-width: 520px) {
    .about {
      width: 200px;
    }
    .satauri {
     display: none;
        
    }

}


@media (max-width: 420px) {
    .nav-flex {
        width: 1750px;  
    }
}

/* 390 */


@media (max-width: 300px) {
    .nav-flex {
        width: 1750px;  
    }

    .satauri2 {
        display: none;
    }
}


@media (max-width: 300px) {
    .header-bg {
       width: 200px;
       height: 200px;
    }
    
}


@media (max-width: 390px) {
    .section-2 {
       display: none;
    }
}


/* 220 */


@media (max-width: 220px) {
    .nav-flex {
        width: 1850px;  
    }
    .header-bg {
        width: 150px;
        height: 150px;
    }

}


@media (max-width: 220px) {
   .section-1 {
       width: 150px;
   }

    .boxes {
        width: 100px;
    
    }

    .box1 {
        width: 100px;
    }

    .specials {
        display: none;
    }

    .pasta-text {
        display: none;
    }
}

