@media (max-width: 1900px) {
    .header-bg {
        width: 100%;
    }
}


/* @media (max-width: 1900px) {
    .header-wrapper{
       width: 1000px;

    }
} */



@media (max-width: 1900px) {
    .boxes {
        width: 100%;
    }
}


@media (max-width: 1900px) {
    .about {
        width: 100%;
    }
}


@media (max-width: 1900px) {
    .contact-boxes {
        width: 100%;
    }
}

@media (max-width: 1900px) {
    .h2 {
        width: 100%;
    }
}

@media (max-width: 1900px) {
    .contact-info {
        width: 100%;
    }
}


/*   1450 */

@media (max-width: 1450px) {
    .header-bg {
        width: 100%;
    }
}


@media (max-width: 1450px) {
    .boxes {
        width: 100%;
    }
}


@media (max-width: 1450px) {
    .about {
        width: 100%;
    }
}


@media (max-width: 1450px) {
    .contact-boxes {
        width: 100%;
    }
}

@media (max-width: 1450px) {
    .h2 {
        width: 100%;
    }
}

@media (max-width: 1450px) {
    .contact-info {
        width: 100%;
    }
}



@media (max-width: 1140px) {
    .header-bg {
        width: 100%;
    }
}


@media (max-width: 1140px) {
    .boxes {
        width: 100%;
    }
}


@media (max-width: 1140px) {
    .about {
        flex-direction: column;
    }
}


@media (max-width: 1140px) {
    .contact-boxes {
       flex-direction: column;
    }
}

@media (max-width: 1140px) {
    .h2 {
        width: 100%;
    }
}

@media (max-width: 1140px) {
    .contact-info {
        width: 100%;
    }
}

@media (max-width: 970px) {
    .contact-info {
        width: 100%;
    }
}

@media (max-width: 917px) {
    .boxes {
        flex-direction:column;
        align-items: center;
    }
}

@media (max-width: 917px) {
    .box1 {
        width: 400px;
        height: 400px;
    }
}


@media (max-width: 917px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 917px) {
    .contact-boxes {
        flex-direction: column;
        align-items: center;
    }
}




@media (max-width: 660px) {
    .header-bg {
        width: 100%;
    }
}


@media (max-width: 660x) {
    .boxes {
        
        flex-direction:column;
        align-items: center;
    }
}


@media (max-width: 660px) {
    .about {
        
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 660px) {
    .contact-boxes {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 660px) {
    .h2 {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .contact-info {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .cafe {
        width: 400px;
    }
}

@media (max-width: 660px) {
    .story {
        width: 400px;
    }
}



@media (max-width: 660px) {
    .map {
        width: 400px;
    }
}

@media (max-width: 660px) {
    .our-story {
        display: none;
    }
}

@media (max-width: 660px) {
    .our-story::after {
        display: none;
    }
}


@media (max-width: 660px) {
    .Address {
        width: 300px;
    }
}


@media (max-width: 520px) {
    .map {
        display: none;
    }

}



 @media (max-width: 420px) {
    .box1 {
        width: 200px;
        height: 200px;
    }
}


@media (max-width: 420px) {
    .cafe {
        width: 200px;
    }
}

@media (max-width: 420px) {
    .main-text {
        width: 300px;
        font-size: 20px;
        
    } 
}


@media (max-width: 420px) {
    .section-1 {
        width: 250px;
        height: 800px;
    }
}


@media (max-width: 420px) {
    .section-2 {
        width: 250px;
        height: 450px;
    }
}

@media (max-width: 420px) {
    .main-text {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    .story {
       width: 200px;
    }
}



@media (max-width: 420px) {
    .section-3 {
        width: 250px;
        height: 400px;
    }
}


@media (max-width: 420px) {
    .Address {
        width: 250px;
    }
}

@media (max-width: 420px) {
    .feedback-info {
        display: none;
    }
}

@media (max-width: 420px) {
    .fields {
       display: none;
    }
}

@media (max-width: 520px) {
    .h1 {
       font-size: 20px;
    }
}

@media (max-width: 520px) {
    .header-bg {
       height: 200px;
    }
}



@media (max-width: 275px) {
    .header-bg {
       height: 150px;
       width: 150px;
    
    }
}

@media (max-width: 275px) {
    .h1 {
       display: none;
    
    }
}

@media (max-width: 275px) {
    .section-1{
       height: 900px;
       width: 150px;
    
    }
}


@media (max-width: 275px) {
    .specials{
      font-size: 15px;
    
    }
}

@media (max-width: 275px) {
    .specials::after {
        width: 80px;
    }
}


@media (max-width: 275px) {
    .section-2{
       height: 400px;
       width: 150px;
    
    }
}

@media (max-width: 275px) {
    .section-3{
       height: 400px;
       width: 150px;
    
    }
}

@media (max-width: 275px) {
    .Address {
        width: 150px;
    }
}

@media (max-width: 275px) {
    .pasta {
        font-size: 10px;
    }
}


@media (max-width: 247px) {
    .box1 {
        width: 100px;
        height: 100px;

    }
}

@media (max-width: 247px) {
    .pasta-text {
        font-size: 10px;
    }
}

@media (max-width: 275px) {
    .section-1{
       height: 550px;
       width: 150px;
    
    }
}

@media (max-width: 275px) {
    .cafe {
       height: 100px;
       width: 100px;
    
    }
}

@media (max-width: 275px) {
    .section-2{
       height: 350px;
       width: 150px;
    
    }
}



@media (max-width: 275px) {
    .story {
       height: 100px;
       width: 100px;
    
    }
}

@media (max-width: 275px) {
    .main-text {
       font-size: 8px;
       width: 100px;
       height: 100px;
       
      
    }
}

@media (max-width: 275px) {
    .contact {
      font-size: 15px;
    
    }
}

@media (max-width: 275px) {
    .contact::after {
        width: 50px;
    }
}

@media (max-width: 275px) {
    .information {
      font-size: 15px;
    
    }
}

@media (max-width: 275px) {
    .phone-number {
      width: 50px;
    
    }
}

@media (max-width: 275px) {
    .contact-p {
      width: 50px;
      font-size: 15px;
    
    }
}


@media (max-width: 275px) {
    .satauri {
        display: none;
    
    }
}

@media (max-width: 275px) {
    .satauri2 {
        display: none;
    
    }
}



@media (max-width: 167px) {
    .section-2{
      display: none;
    
    }
}

@media (max-width: 167px) {
    .contact-info{
      display: none;
    
    }
}

@media (max-width: 167px) {
    .contact-boxes {
        width: 80px;
    }
}

@media (max-width: 167px) {
    .Address {
        width: 80px;
    }
}

@media (max-width: 167px) {
    .information {
        font-size: 8px;
    }
}

@media (max-width: 167px) {
    .phone-number {
        width: 30px;
    }
}


@media (max-width: 167px) {
    .contact-p {
        width: 30px;
        font-size: 8px;
    }
}


@media (max-width: 167px) {
    .section-1{
      display: none;
   }   
}  



@media (max-width: 167px) {
    .h1 {
      font-size: 50px;
      color: white;
    }
}



/* 
@media (max-width: 1200px) {
    .navigation {
        
    }

    .burger-icon {
        display: block;
    }
} */

